.post{
    display: grid;
    /*width: 100%;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    margin-bottom: 16px;
    padding: 16px;
}




.avatar{
    grid-column-start: 1;
    grid-column-end: 2;
}

.likes{
    grid-column-start: 2;
    grid-column-end: 3;
    color: red;
    justify-self: end;
}

.text{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    color: black;
    text-align: center;
}
