.messages{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dialogs{
    border-right: 1px solid silver;
}

.dialog{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
}

.message{
    padding-left: 10px  ;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}