.activePage{
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.activePage1{
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}
.pagination{
    max-width: 500px;
    overflow: scroll;
}