*{
    box-sizing: border-box;
}

ul,li,h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
}

.main-section{
    background: silver;
}

.section-main{
    max-width: 1500px;
    margin: 0 auto;
    background: antiquewhite;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 16px;
}

